@page "/"

<div class="home-banner">

    <h1>Welcome to NotesBoard</h1>

    <p>
        Your simple place to write, organize and manage your notes.
    </p>

    <a class="btn-start" href="/notes">
        Go to Notes
    </a>

</div>
