
@page "/"
@using NotesBoard.Models
@using NotesBoard.Services
@using NotesBoard.Services.Contract
@inject INoteService NoteService

<h3>Note Board</h3>

<div class="add-note">
    <input @bind="newTitle" placeholder="Title" />
    <input @bind="newContent" placeholder="Content" />

    <button @onclick="AddNote">Add Note</button>
</div>



<div class="notes-board">
        @foreach (Note note in notes)
        {
            <div class="note-card">
                <div class="one-row">
                    <h4>@note.Title</h4>
                    <div class="card-actions">
                        <button class="btn-delete" @onclick="() => DeleteNote(note.Id)">
                            Delete
                        </button>
                    </div>
                </div>
                <p>@note.Content</p>
                <small>@note.CreatedAt.ToLocalTime()</small>
            </div>
        }
</div>

@code {
    List<Note> notes = new();

    string? newTitle;
    string? newContent;

    protected override async Task OnInitializedAsync()
    {
        notes = await NoteService.GetAllAsync();
    }

    async Task AddNote()
    {
        Note note = new Note()
            {
                Title = newTitle,
                Content = newContent
            };

        await NoteService.CreateAsync(note);

        notes = await NoteService.GetAllAsync();

        newTitle="";
        newContent = "";
    }

    async Task DeleteNote(string id)
    {
        await NoteService.DeleteAsync(id);

        notes = await NoteService.GetAllAsync();
    }
}
