@inherits LayoutComponentBase

<PageTitle>NotesBoard</PageTitle>

<div class="page">

    <main class="main-content">
        <NavBar />

        <article class="page-container">
            @Body
        </article>
    </main>
</div>
